@use "highlight.js/styles/github-dark.min";
@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

.mt-post {
  margin: 0;
}

ul {
  li {
    .active {
      background: linear-gradient(transparent 65%, oklch(var(--s) / 0.5) 65%);
    }
  }
}

.toc {
  overflow-y: auto;
  height: 30vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.mt-post {
  padding: 2rem 1rem !important;
}

.mt-post-header-user,
.mt-post-header-date,
.mt-post-counter-bar,
.mt-post-preview-description {
  --mt-color-contrast-gray: oklch(var(--nc));
}

pre,
pre>code {
  background: oklch(var(--b1)) !important;
}

pre {
  display: flex;
  align-items: center;
  gap: 16px;

  >code {
    flex-grow: 1;
  }

  >button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    >svg {
      width: 20px;
      height: 20px;
    }
  }
}
